.streams {
  margin-top: 1.875em;
  max-width: 72em;
  margin: auto;
  height: 100vh;

  &-content {
    display: grid;
    grid-template-areas: "post"
                         "suggestions";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 1.25em;
    margin-top: 1.25em;
    overflow-x: hidden;
    overflow-y: scroll;

    .streams-post {
      grid-area: post;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100vh;
      scroll-behavior: smooth;
      position: static;
    }

    .streams-suggestions {
      grid-area: suggestions;
      background-color: var(--white-1);
      max-height: 37.5em;
      border-radius: 1em;
    }

    .stream-iconBar {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    &-content {
      grid-template-areas: "post suggestions";
      grid-template-columns: 1fr 20.625em;
      column-gap: 1.25em;

      .streams-suggestions {
        max-height: none;
      }

      .stream-iconBar {
        display: block;
        grid-template-areas: "iconBar";
        border-radius: 1em;
        background-color: var(--white-1);
      }
    }
  }
}
